//Padrão Preto
$preto-padrao: #000000

//cinza-p
$color-p: #7a7a7a

//cinza-h
$color-titulo: #7B7B7B

// color-p-2
$color-p-equipe: #757575

///import css-variables from $$
$color-footer: #8E9DAE

//Padrão Site
$bege-padrao: #c8bcac
$bege-links: #dfd7cc
$branco-padrao: #ffffff

.container
  width: 90%
  margin: 0 auto
