@import './_pattern'
@import './_responsive'

.s-tratamento-base
  margin: 6rem 0
  .container
    .info-tratamento-base
      display: flex
      width: 100% 
      .tratamento-base-left
        display: flex
        flex-direction: column
        justify-content: center
        width: 50%
        .content-tratamentoBase-left
          p
            color: $color-p
            margin: 2rem 0
            width: 85%
            font-size: 16px
          h2
            color: $bege-padrao
            font-size: 40px
          a
            color: $color-p
      .tratamentoBase-right
        width: 50%
        background: $bege-padrao
        padding: 5rem
        display: flex
        align-items: center
        justify-content: center
        .img-right-tratamentoBase
          margin: 0 0 0 -20%
          img
            width: 100%
            height: auto